<span>
  <p> nom : </p>
  <input type="text" class="form-control" [(ngModel)]="classe['nom']" />
</span>
<span>
  <p> description : </p>
  <input type="text" class="form-control" [(ngModel)]="classe['definition']" />
</span>

<div>
</div>
<ul class="list-group">
  <app-new-stat-race *ngFor="let obj of classe['stat'] ; let i = index"
                     [raceStat]="classe['stat'][i]">    </app-new-stat-race>
</ul>
<select id="stat" class="form-control" [(ngModel)]="statclasseid">
  <!-- Below line will be looped through the keys and for every key, set label as value from enum pair and key as value attribute of <option> tag-->
  <option *ngFor="let obj of stats" [ngValue]="obj.id">{{ obj.nom }}</option>
</select>
<button class="btn btn-primary" (click)="addStat()"> Ajoute Stat</button>

<button (click)=Modif() class="btn btn-success"> Valider</button>
